Repository frequenz-floss/frequenz-client-reporting-python, pull requests merged in 2024-11, with the labels that each got.

#109 Support requesting no metrics in CLI tools
  RELEASE_NOTES.md
  src/frequenz/client/reporting/__main__.py
Labels: part:docs

#111 Update base client to v0.8.0
  pyproject.toml
  src/frequenz/client/reporting/_client.py
Labels: cmd:skip-release-notes, part:tooling

#105 Change resolution to resample_period
  README.md
  RELEASE_NOTES.md
  src/frequenz/client/reporting/__main__.py
  src/frequenz/client/reporting/_client.py
Labels: part:docs

#113 Change release notes after release
  RELEASE_NOTES.md
Labels: part:docs

#114 Upgrade to reporting API v0.5
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/reporting/_client.py
Labels: part:docs, part:tooling

#115 Update notes after release
  RELEASE_NOTES.md
Labels: part:docs

#116 Support for streaming
  RELEASE_NOTES.md
  src/frequenz/client/reporting/__main__.py
  src/frequenz/client/reporting/_client.py
Labels: part:docs
