Repository frequenz-floss/frequenz-client-reporting-python, pull requests merged in 2024-04, with the labels that each got.

#28 Fix return type for next_page_token method
  src/frequenz/client/reporting/_client.py
Labels: cmd:skip-release-notes

#38 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#36 Make ComponentsDataPage an iterator
  src/frequenz/client/reporting/_client.py
Labels: cmd:skip-release-notes

#35 Update doc for MetricSample
  src/frequenz/client/reporting/_client.py
Labels: cmd:skip-release-notes

#29 Rename ReportingClient to ReportingApiClient
  RELEASE_NOTES.md
  examples/client.py
  src/frequenz/client/reporting/__init__.py
  src/frequenz/client/reporting/_client.py
  tests/test_client_reporting.py
Labels: part:docs, part:tests

#46 Rename client method to list_microgrid_components_data
  RELEASE_NOTES.md
  src/frequenz/client/reporting/_client.py
Labels: part:docs

#43 Address todos from the cookiecutter
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/keylabeler.yml
  .github/labeler.yml
  .github/workflows/release-notes-check.yml
  CODEOWNERS
  README.md
  docs/_scripts/macros.py
  mkdocs.yml
  pyproject.toml
Labels: part:docs, part:tooling

#48 clear release notes after v0.2.0 release
  RELEASE_NOTES.md
Labels: part:docs
