Repository frequenz-floss/frequenz-client-reporting-python, pull requests merged in 2024-06, with the labels that each got.

#63 Support authorization via API key
  RELEASE_NOTES.md
  examples/client.py
  src/frequenz/client/reporting/_client.py
Labels: part:docs

#64 Update README for API key usage
  README.md
Labels: part:docs

#65 Minor: Remove verbose prints from example client
  examples/client.py
Labels: part:docs

#66 Minor: Change default page size in client example
  examples/client.py
Labels: part:docs

#68 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#69 Install example command line tool as reporting-cli
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/reporting/__main__.py
Labels: part:docs, part:tooling

#70 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#71 Update README with reporting-cli usage instructions
  README.md
Labels: part:docs

#67 Use streaming endpoint in list_microgrid_components_data
  RELEASE_NOTES.md
  src/frequenz/client/reporting/__main__.py
  src/frequenz/client/reporting/_client.py
  tests/test_client_reporting.py
Labels: part:docs, part:tests

#72 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#73 Update client version in readme
  README.md
Labels: part:docs

#74 Remove page_size from readme
  README.md
Labels: part:docs

#76 Fix/ensure secure connection
  RELEASE_NOTES.md
  src/frequenz/client/reporting/_client.py
  tests/test_client_reporting.py
Labels: part:docs, part:tests

#78 Include resampling in readme
  README.md
Labels: part:docs

#80 Add new service address to readme
  README.md
Labels: part:docs

#81 Update release notes before release
  RELEASE_NOTES.md
Labels: part:docs

#82 Release notes update after release v0.7.0
  RELEASE_NOTES.md
Labels: part:docs
