Repository frequenz-floss/frequenz-client-reporting-python, pull requests merged in 2025-01, with the labels that each got.

#130 Update version in README
  README.md
  RELEASE_NOTES.md
Labels: part:docs

#131 Add method to receive aggregated data
  RELEASE_NOTES.md
  src/frequenz/client/reporting/_client.py
Labels: part:docs

#132 Change common dependency to v0.3.0
  pyproject.toml
Labels: part:tooling

#133 Clear release notes after release
  RELEASE_NOTES.md
Labels: part:docs

#134 Support requests for multiple components and formulas via CLI tool
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/reporting/cli/__main__.py
Labels: part:docs, part:tooling
